.star-icon{
	float: right;
	line-height: 1.1;
	font-size: 1.4rem;
	cursor: pointer;
}

.star-icon:hover{
	font-weight: 900;
}

.star-icon-fav{
	float: right;
	line-height: 1.1;
	font-size: 1.4rem;
	cursor: pointer;
	font-weight: 900;
}

.star-icon-fav:hover{
	font-weight: 400;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}